* {
  font-family: 'Roboto', sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.spawnmenu {
  width: 17%;
  height: 30%;
  margin: 50px;
  padding: 2px;
  display: none;
}

.spawnmenu h1 {
  color: #fff;
  margin: 0 0 5px 0;
  font-size: 21px;
  font-weight: 900;
  text-align: center;
}

.spawnbutton {
  width: 100%;
  height: 50px;
  margin-top: 15px;
  background-color: rgba(0, 255, 0, 0.2);
  border: 1px solid rgba(0, 255, 0, 0.3);
  line-height: 50px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  display: none;
  border-radius: 5px;
}

.selection {
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(255, 0, 0, 0.6);
  line-height: 50px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  margin-top: 5px;
  border-radius: 5px;
}

.selection:hover {
  background-color: rgba(255, 0, 0, 0.4);
}

.selected {
  background-color: rgba(255, 69, 0, 0.2);
  border: 1px solid rgba(255, 69, 0, 0.3);
}

