* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  text-shadow: 0 0 0 black;
}

.divwrap {
  display: block;
  margin-left: 68%;
  width: 30%;
  height: 15%;
  margin-top: 1%;
  color: white;
  padding: 1px;
}

.notify-wrap {
  height: 99%;
  overflow: hidden;
  position: relative;
}

.notification-bg {
  background-color: rgba(51, 112, 165, 0.85);
  color: #fff;
  margin: 6px;
  text-align: center;
  padding: 8px;
  border-radius: 3px;
  font-weight: bold;
  font-size: 12px;
  display: block;
  opacity: 0;
  transition: opacity 0.5s;
}

.notification-bg.show {
  opacity: 1;
}

.notification-bg.hide {
  opacity: 0;
}

.red {
  background-color: rgba(181, 82, 85, 0.85);
}

.taxi {
  background-color: rgba(21, 100, 15, 0.95);
}

.medical {
  background-color: rgba(51, 70, 195, 0.95);
}
